[project]
	description = Continuous Integration build tools
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/PengTian0
[access "refs/for/refs/*"]
	read = group user/PengTian0
	push = group user/PengTian0
	label-Code-Review = -2..+2 group user/PengTian0
	label-Verified = -1..+1 group user/PengTian0
	rebase = group user/PengTian0
	removeReviewer = group user/PengTian0
	submit = group user/PengTian0
[access "refs/heads/*"]
	read = group user/PengTian0
	create = group user/PengTian0
	push = +force group user/PengTian0
	pushMerge = group user/PengTian0
[access "refs/tags/*"]
	push = group user/PengTian0
	push = +force group user/PengTian0
